* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  border: 1px solid black;
  width: 51.06rem;
  min-height: 41.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.header {
  height: 4rem;
  background-color: #C4C4C4;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-left: 1.25rem;
  font-size: 1.5rem;
}

.espaçoDeMensagem {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  width: 100%;
  height: 10.625rem;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.inputDentro {
  display: flex;
  height: 100%;
  width: 85.49%;
  justify-content: space-evenly;
  background-color: #C4C4C4;
  border: 1px solid black;
}

#Enviar {
  height: 21.18%;
  width: 12.98%;
  background-color: blue;
  border-radius: 10px;
  margin-top: 10px;
}

textarea {
  width: 83.49%;
  height: 86.15%;
  resize: none;
  margin-top: 10px;
}

.mensagens {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.mensagem {
  width: 95.19%;
  display: flex;
  word-break: break-all;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;

}


.texto, .btnMensagem {
  border: 1px solid black;
  margin-top: 0.5rem;
}

.btnMensagem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}



.editar,
.excluir {
  border: none;
  padding: 0.2rem;
}

.editar {
  background-color: #F6A75D;
}

.excluir {
  background-color: #F65D5D;
}

.texto {
  width: 100%;
}